.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s ease-in;
}

.modal_opened {
  opacity: 1;
  visibility: visible;
}

.modal__title {
  margin: 0;
  padding: 28px 28px 24px 28px;
  font-size: 16px;
  line-height: 20px;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.modal__content {
  background-color: white;
  position: relative;
  max-width: 496px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 12px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__input {
  display: block;
  border: none;
  padding: 10px 0 3px;
  border-bottom: 1px solid black;
  width: 100%;
}

.modal__radio-btns {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.modal__legend {
  padding: 0 0 12px 28px;
  line-height: 20px;
}

.modal__label {
  padding: 0 28px 24px 28px;
  line-height: 20px;
}

.modal__label_type_radio {
  padding: 0 0 8px 28px;
}

.modal__submit {
  border: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  max-width: 130px;
  padding: 10px 0;
  border-radius: 5px;
  margin-top: 20px;
  margin: 24px 0 36px 28px;
  line-height: 20px;
}

.modal__submit:hover {
  background-color: black;
}
