.toggle-swtich {
  width: 56px;
  height: 28px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  margin-left: auto;
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.toggle-switch__checkbox {
  opacity: 0;
}

.toggle-switch__cirlce {
  background-color: black;
  width: 28px;
  height: 28px;
  position: absolute;
  border-radius: 50%;
  left: 0;
  transition: all 0.2s;
}

.toggle-switch__checkbox:checked ~ .toggle-switch__cirlce {
  left: 28px;
}

.toggle-switch__text {
  position: absolute;
  color: rgba(0, 0, 0, 0.5);
  top: 5px;
}

.toggle-switch__text_F {
  left: 9px;
}

.toggle-switch__text_C {
  right: 9px;
}
