.modal__content_type_confirm {
  background-color: white;
  border-radius: 12px;
  padding: 60px 0 60px;
  width: 670px !important;
  max-width: 670px !important;
  height: 280px;
  text-align: center;
  position: relative;
  transition: visibility 0.3s, opacity 0.3s ease-in;
}

.confirmation__modal_title {
  font-size: 20px;
  font-weight: 700;
  padding: 0 0 40px;
  margin: 0;
}

.modal__buttons {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.modal__button {
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.modal__button_type_confirm {
  background-color: transparent;
  color: rgba(255, 77, 0, 1);
  border: none;
  padding: 0;
  font-size: 20px;
  font-weight: 700;
}

.modal__button_type_cancel {
  background-color: transparent;
  border: none;
  color: black;
  padding: 0;
  font-size: 20px;
  font-weight: 700;
}
