.profile {
  display: flex;
  justify-content: space-between;
  gap: 116px;
}

.profile__sidebar-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile__edit-button {
  display: flex;
  justify-content: flex-start;
  border: none;
  background-color: transparent;
  font-size: 20px;
  font-weight: 700;
  white-space: nowrap;
  cursor: pointer;
  margin: 25px 0 8px;
  padding: 0;
}

.profile__signout-button {
  display: flex;
  justify-content: flex-start;
  border: none;
  background-color: transparent;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  margin: 0;
  padding: 0;
}
