.card {
  width: 323px;
  position: relative;
  display: flex;
  justify-content: center;
}

.card__name {
  position: absolute;
  top: 15px;
  margin: 0;
  background-color: white;
  padding: 2px 12px;
  border-radius: 5px;
}

.card__image {
  width: 100%;
  border-radius: 15px;
  border: 2px solid rgba(0, 0, 0, 0.3);
}
