.sidebar__user-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  white-space: nowrap;
  gap: 16px;
}

.sidebar__avatar {
  height: 56px;
  width: 56px;
  border-radius: 50%;
}

.sidebar__username {
  font-size: 20px;
  font-weight: 700;
}
